@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

@theme {
  /* like beish color */
  --color-primary-bg: #fbf8f2;

  /* like brown color for buttons bg */
  --color-brown-bg: #b85c38;
  /* darker brown color */
  --color-brown-bg-dark: #2c1810;

  /* like white color for navbar bg */
  --color-navbar-bg: white;

  /* like light purple color for light background */
  --color-light-purple-bg: #f6eaf7;

  /* purple background color */
  --color-button-purple-bg: #7148b5;

  /* border color for yellow buttons */
  --color-yellow-border: #d4a574;
}

:where(html, body) {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  background-color: var(--color-primary-bg);
  color: #1f2937;
}

* {
  box-sizing: border-box;
}

/* overriding swiping */